{% extends "main/base.html" %}

{% block content %}

    <div class="margin-top-bot shadow p-3 mb-5 bg-grey rounded text-center">
            <p>Офис в Москве – м.пр-т Вернадского, ул.Удальцова</p>

            <p>Производство – Калужская обл., г.Боровск</p>
            
            <p>Телефон: 8-961-006-02-88</p>
            
            <p>E-mail: p4a@inbox.ru</p>
    </div>       
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}