{% extends "main/base.html" %}


{% block content %}

{% include "main/carousel.html" %}
<div id="technologies"></div>
<br>
<br>
<br>
<br>
<h3 class="text-center">Производство для агентства</h3>
<div class="shadow p-3 mb-5 bg-grey rounded">
    <p>
        Наша компания ориентируется на PROMO- , BTL- и креативные рекламные агентства(PRODUCTION FOR AGENCY). Зачастую, при разработке и обсуждении проекта с конечным клиентом мы выступаем как техническое подразделение рекламного агентства. При расчете стоимости производства стараемся подобрать такие технологии и материалы, чтобы по возможности вписаться в бюджет. 
        При стабильной и продолжительной работе с агентством бывает, что мы доставляем заказ конечному клиенту, минуя склад агентства.
    </p>
</div>
<h3 class="text-center">Производство пилотного образца</h3>
<div class="shadow p-3 mb-5 bg-grey rounded">
    <p>
        Получая от клиента дизайн или фотографию изделия, которое он хотел бы произвести, конструктор определяет, из каких материалов будет изготовлено изделие, размеры деталей, как будут стыковаться основные узлы. Далее менеджер по производству рассчитывает стоимость заказа. Если стоимость устраивает клиента и он готов подписать контракт на производство партии, конструктор дорабатывает чертежи для производства , на основании которых мы делаем пилотный образец и согласуем его с клиентом. Изменения в образец вносятся до тех пор, пока он полностью не устроит клиента. После этого подписывается контракт и изделие запускается в тираж. 
        При производстве пилотного образца используются те же материалы и технологии, что и в основном тираже.
        В дальнейшем утвержденный образец служит эталоном на всех этапах серийного производства.
    </p>
</div>    
<h3 class="text-center">Технологии</h3>
<div class="shadow p-3 mb-5 bg-grey rounded">
<p>
    Работы с металлом(труба, пруток, проволока, лист), ПВХ, полистиролом, оргстеклом, композитами, деревом
    <ul class=>
        <li>резка</li>
        <li>рубка</li>
        <li>гибка</li>
        <li>склейка</li>
        <li>сварка</li>
        <li>покраска</li>
    </ul>
    Используем различные крепежные системы, всевозможные виды профилей,
    мебельные технологии, известные виды подсветок.
    Высококачественная широкоформатная печать.
</p>
</div>
{% endblock %}