.back {
    background: grey url(../pic/svetlyj-kirpich.png);
    color: black;
}
.margin-top-bot {
    margin-top: 10px;
    margin-bottom: 10px;
}
.padding-top-bot {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    padding: 0rem .3rem;
}
.block {
    background: white;
    color: black;
}

body {
	margin:0;
}

.image {
	margin:30px; 
	float:center;
	cursor:pointer;
}

.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	margin:1% 0 0 0;
}